asdf
astropy>=4.1
astroquery
# astroscrappy
-e git+https://github.com/cmccully/astroscrappy.git@feature/var_and_spectroscopy#egg=astroscrappy
cython
future
ginga
gwcs>=0.14
imexam
matplotlib
numpy
photutils
pytest
python-dateutil
scipy
specutils
sqlalchemy
